$color-main: #212121;
$color-p: #757575;
$color-hover: #2196f3;
$color-active: #188ce8;
$color-studio: #000;
$color-background: #2f303a;
$color-hero: #fff;
$color-background-light: #f5f4fa;
$color-gray: #AFB1B8;

$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif